## Assignment -  1

###  Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

###  Import the dataset from this(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user). <br>
Use sep= "|" while reading the data

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

### Assign it to a variable called users and use the 'user_id' as index

In [8]:
users = pd.read_csv(url,sep='|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [9]:
users = users.set_index('user_id')
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### See the first 10 and last 10 entries

In [11]:
print(users.head(10)) # first
print("------------------------")
print(users.tail(10)) #last

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
------------------------
         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### What is the number of observations in the dataset?

In [13]:
observations = users.shape[0]
observations

943

### What is the number of columns in the dataset?

In [14]:
columns = users.shape[1]
columns

4

### Print the name of all the columns.

In [15]:
column_names = users.columns
column_names

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### How is the dataset indexed?

### What is the data type of each column?

In [22]:
print(users.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB
None

### Print only the occupation column

In [24]:
print(users['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### How many different occupations are in this dataset?

In [25]:
num_occupations = users['occupation'].nunique()
num_occupations

21

### What is the most frequent occupation?

In [36]:
most_frequent_occupation = users['occupation'].value_counts().idxmax()

In [37]:
result = pd.Series([most_frequent_occupation], dtype=object)

print(result)

0    student
dtype: object

###  DataFrame Info.

In [38]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

### Describe all the columns

In [40]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Summarize only the occupation column

In [42]:
occupation_summary = users['occupation'].value_counts()
occupation_summary

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

###  What is the mean age of users?

In [43]:
mean_age = users['age'].mean()
mean_age

34.05196182396607

###  What is the age with least occurrence?

In [44]:
least_occurred_age = users['age'].value_counts().idxmin()
least_occurred_age

7